.button {
  padding: 5px 15px;
  background: transparent;
  box-shadow: none;
  border: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.button-primary {
  color: #1976d2;
}

.button-secondary {
  color: rgb(220, 0, 78);
}
