.header {
  padding: 10px;
  font-size: 30px;
  background: #eee;
  text-align: center;
  border-bottom: 1px solid #000;
}

.content {
  display: flex;
  min-height: 800px;
}

.leftSide {
  width: 200px;
  background: #eee;
}

.middleSide {
  flex-grow: 1;
}

.rightSide {
  width: 200px;
  background: #eee;
}

.colHeader {
  padding: 10px 0;
  margin: 0;
  background: burlywood;
  font-size: 20px;
  text-align: center;
}
